<nav id="menu">
	<a class="close-button">Close</a>
	<div class="nav-wrapper">
		<p class="nav-label">Menu</p>
		<ul>
			<li class="nav-search">
				<form action="{{search_url}}" method="get">
					<input type="search" name="s" placeholder="Search">
				</form>
			</li>
			{{#navigation}}
				{{#each items}}
					<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation">
						<a href="{{url link}}">{{label}}</a>
					</li>
				{{/each}}
			{{/navigation}}
			<li class="nav-rss">
				<a href="{{feed_url}}"><i class="ic ic-rss"></i> Subscribe</a>
			</li>
		</ul>
	</div>
</nav>