{{> header}}

<header id="blog-header"{{#if @settings.cover}} class="has-cover"{{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @settings.logo}}
			<span class="blog-logo">
				<a href="{{url}}"><img src="{{url @settings.logo}}" alt="Blog Logo" /></a>
			</span>
			{{/if}}
			{{#if @settings.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="blog-name"><a href="{{url}}">{{@settings.title}}</a></h1>
		{{#if @settings.tagline}}
		<span class="blog-description">{{@settings.tagline}}</span>
		{{/if}}
		{{#if @settings.cover}}
		<div class="blog-cover cover" style="background-image: url('{{url @settings.cover}}');"></div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> loop}}

	</main>

</div>

{{> footer}}