{{> header}}

{{#post}}

	<header id="post-header"{{#if image}} class="has-cover" {{/if}}>
		<div class="inner">
			<nav id="navigation">
				{{#if @settings.logo}}
				<span class="blog-logo">
					<a href="{{url}}"><img src="{{url @settings.logo}}" alt="Blog Logo" /></a>
				</span>
				{{else}}
				<span id="home-button" class="nav-button">
					<a class="home-button" href="{{url}}" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
				</span>
				{{/if}}
				{{#if @settings.navigation}}
				<span id="menu-button" class="nav-button">
					<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
				</span>
				{{/if}}
			</nav>
			<h1 class="post-title">{{title editable="true"}}</h1>
			{{#if image}}<div class="post-cover cover" style="background-image: url('{{image}}');"></div>{{/if}}
		</div>
	</header>

	<main class="content" role="main">
		<article class="{{post_class}}">
			<div class="inner">

				<section class="post-content">
					{{content editable="true"}}
				</section>

			</div>
		</article>
	</main>

{{/post}}

{{> footer}}