{{> header}}

{{#tag}}

	<header id="blog-header"{{#if @settings.cover}} class="has-cover"{{/if}}>
		<div class="inner">
			<nav id="navigation">
				{{#if @settings.logo}}
					<span class="blog-logo">
						<a href="{{url}}"><img src="{{url @settings.logo}}" alt="Blog Logo" /></a>
					</span>
				{{else}}
					<span id="home-button" class="nav-button">
						<a class="home-button" href="{{url}}" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
					</span>
				{{/if}}
				{{#if @settings.navigation}}
					<span id="menu-button" class="nav-button">
						<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
					</span>
				{{/if}}
			</nav>
			<h1 class="blog-name">{{name}}</h1>
			<span class="blog-description">
			{{#if description}}
				{{description}}
			{{else}}
				Posts: {{../pagination.total_items}}
			{{/if}}
			</span>
			{{#if cover}}
				<div class="blog-cover cover" style="background-image: url('{{url cover}}');"></div>
			{{else}}
				{{#if @settings.cover}}
					<div class="blog-cover cover" style="background-image: url('{{url @settings.cover}}');"></div>
				{{/if}}
			{{/if}}
		</div>
	</header>

{{/tag}}

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>

{{> footer}}